body
{
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  
}
html
{
  height: 100%;
}



.layout
{
  display: flex;
  flex:1;
flex-direction: row;
overflow: hidden;
}

.top-nav
{
  width: 100%;
  height: 80px;
  background-color: rgb(34, 34, 148);
  display: flex;
    flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  top: 0;
}

.left-section
{
  display: flex;
  flex-direction: row;
  
}

.logo
{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10%;
  margin-right: 10px;
}
.company-title
{
  font-size: 24px;
  font-weight: bold;
  margin-top: 13px;
  
}

.circle
{

  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 10px;
}



.right-section
{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 45px;
}

.location-selector i
{
  width: 30px;
  height: 30px;
  border-radius: 10%;
  background: transparent;
}
.location-selector
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 175px;
    gap: 7px;
    cursor: pointer;
    background-color: rgb(6, 6, 96);
}

.location-selector select
{
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.icons
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.icons i
{
  width: 30px;
  height: 30px;;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  align-items: center;
  font-size: 24px;
}


.sidebar
{
  width: 200px;
  background-color: white;
  padding: 20px;
  flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restart
{
  width: 100%;
  height: 50px;
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding-bottom: 30px;
  
}
main
{
  background-color: rgb(252, 244, 244);
  flex: 1;
  overflow-y: auto;
  
}

.links
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  color: lightgray;
}
.links li
{
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-size: 18px;
  color: lightgray;
  gap: 10px;
}

.links li i
{
  
  border-radius: 50%;
  font-size: 30px;
}

.links a
{
  text-decoration: none;
  color: black;
  font-size: 14px;
  list-style: none;
  color: lightgray;
}

#hero
{
  width: 100%;
  height: 200px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: left;
  padding-left: 70px;
  justify-content: center;
  background-image: url("images/hero-background.jpeg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#hero h1
{
  font-size: 30px;
  margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}
#hero p
{
  font-size: 18px;
  margin: 5px 0;
  max-width: 80%;
  font-weight: 300;
}

#yaraplussolutions,#featuredsolutions
{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}

.solutions-title
{
  margin-left: 50px;
  padding: 0;
}

#yaraplussolutions h3,#featuredsolutions h3
{
  margin-bottom: 20px;
  font-weight: normal;
}

.solutions-list
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 30px;
  margin-left: 50px;
}



.solution-item
{
  width: 16%;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.solution-item img
{
  width: 100%;
  height: 30%;
  border-radius: 10px;
  object-fit: cover;
}
.solution-item h3
{
  font-size: 18px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.solution-item p
{
  font-size: 14px;
  margin: 10px;
  color: gray;
}

.solution-item span
{
  border-top: 1px solid lightgray;
    width: 100%;
}


.solution-item h4
{
  font-size: 16px;
  margin: 10px;
  color: black;
    font-weight: 550;
}

.solution-item a
{
  text-decoration: none;
  color: rgb(6, 99, 135);
  margin-left: 35%;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 14px;
  font-weight:bolder;
  
}

.featured-solutions-list
{
  display: flex;
  width: 90%;
  align-items: left;  
  justify-content: center;  
  gap: 50px;
  padding-left: 50px;

}

.featured-solution-item
{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
}

.featured-solution-item
{
  flex: 7;
  background-color: white;
}

.featured-solution-item-smaller
{
  flex:3;
  padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.container
{
  display: flex;
  flex-direction: row;
  padding: 20px;
    gap: 20px;
    padding-bottom: 0px;
}

.featured-solution-item span
{
  border-top: 1px solid lightgray;
  width: 100%;
  padding-bottom: 20px;
}

.featured-solution-item a
{
    text-decoration: none;
    color: rgb(43, 142, 181);
    margin-left: 85%;
    margin-bottom: 20px;
}

.container-smaller
{
  display: flex;
  flex-direction: row;
}

.featured-solution-item-smaller span
{
border-top: 1px solid lightgray;
  width: 100%;
  padding-bottom: 20px;
}

main a
{
  text-decoration: none;
  color: rgb(6, 99, 135);
    font-weight: bolder;
}

.container-smaller span
{
  border-top: 1px solid lightgray;
  width: 100%;
  padding-bottom: 20px;
}

.featured-item-content
{
  display: flex;
  flex-direction: column;

}

.featured-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container h4,p
{
margin: 0;
margin-bottom: 7px;
}

.container p
{
  font-size: 13px;
  color: gray;
}

.container h3
{
    margin-bottom: 10px;
}

.container ul
{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 12px;
    font-weight: normal;
}

.container img
{
  width: 35%;
  height: 90%;
  border-radius: 10%;
}

.container ul li
{
  border: 1px solid lightgray;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 13px;
    color: gray;
}

.container-smaller img
{
  width: 50%;
  height: 70%;
  border-radius: 10px;
}



#yaraplussolutions h3, #featuredsolutions h3
{
  margin-bottom: 10px;
}

.featured-solution-item-smaller a{
    padding-top: 70%;
}

#eventsandpodcasts
{
  display: flex;
  flex-direction: row;
  
  width: 100%;
 
}

.eventandpodcaststitle
{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;

}

.eventandpodcaststitle a 
{
    text-decoration: none;
    color: rgb(6, 99, 135);
    font-weight: bolder;
    border: 1px solid rgb(6, 99, 135);
    border-radius: 5px;
    padding: 10px 10px;
}
.eventandpodcaststitle h3
{
  font-size: 24px;
}

#events
{

margin-left: 70px;
}
#podcasts
{
  width: 50%;
}
.events-list
{
  display: flex;
  flex-direction: row;
  width: 80%;
}








