:root {
  --primary-color: #222294;
  --accent-color: #067287;
  --light-gray: #ccc;
  --card-bg: #fff;
  --border-radius: 10px;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  --link-color: #0060c9;
  --font-main: Arial, sans-serif;
}

html {
  background-color: #eaeff5;
}

body {
  margin: 40px auto;
  margin-top: 0px;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: var(--font-main);
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.layout {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin-top: 48px; 
}

.sidebar {
  width: 22%;
  flex-shrink: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e0e0e0;
  padding: 20px 0;
}

.sidebar nav {
  flex: 1;
}

.links {
  padding: 0;
  margin: 0;
}

.links li {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 14px;
  color: #333;
  font-weight: 500;
  transition: background 0.2s ease;
}

.links li i {
  margin-right: 10px;
  font-size: 16px;
  width: 20px;
  text-align: center;
  color: var(--light-gray);
}

.links li a {
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
  color:var(--light-gray);
}

.links li:hover {
  background-color: #f3f6fa;
}

.links li.active {
  background-color: #e6efff;
  border-left: none;
  font-weight: bold;
  border-radius: 12px;
  margin: 4px 12px;
  color: #0060c9;
padding: 12px 20px;

}

.links li.active a {
  color: #1a4fb2 
}

.restart {
  padding: 20px 24px;
  padding-bottom: 0px;
  border-top: 1px solid #eee;
}

.restart a {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 13px;
  font-weight: 500;
  gap: 8px;
  text-decoration: none;
}

.restart a:hover {
  color: var(--link-color);
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background-color:darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: white;
  z-index: 1000;
  max-width: 1500px;
  margin:0 auto;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 16px;
  height: auto;
}

.company-title {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-option
{
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap:3px;
}

.location-option label
{
  font-size: 8px;
  padding-left: 3px;
}


.location-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: rgb(1, 1, 87);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
}

.location-selector select {
  background: transparent;
  color: var(---white);
  border: none;
  font-size: 12px;

  cursor: pointer;
}

.location-selector select:focus {
  background: transparent;
  border: none;
}

.nav-icons {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  color: white;
}

.fa-brands:before, .fa-regular:before, .fa:before, .fab:before, .far:before, .fas:before {
  color: white;
}

.fa-solid:before,.fa:before {
  color: var(--light-gray);
}

.links li.active i {
  color: #1a4fb2 
}



main {
  flex: 1;
  overflow-y: auto;
  background: #f3f6fa;
  padding: 40px 60px;
  padding-top: 0px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--link-color);
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.section-title {
  color: #666;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  gap: 3px;
}


.section-heading {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}



#hero {
  height: 9.6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: url("images/hero-background.jpeg") center/cover no-repeat;
  padding: 20px 70px;

}

main > #hero {
  margin-left: -70px;
  margin-right: -70px;
}
#hero h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

#hero p {
  font-size: 14px;
  max-width: 75%;
  font-weight: lighter;
  letter-spacing: 2.5px;
  line-height: 1.7;
}
 .section-title {
  color: #666;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-heading {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

#yaraplus-solutions {
  padding-top: 40px;
}

.solutions-grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.solution-card {
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  width: 210px;
  height: 290px;
  box-shadow: var(--shadow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solution-card img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.solution-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex-grow: 1;
  padding-bottom: 0px;
}

.solution-header {
  display: flex;
  align-items: center;
  gap: 6px;
}

.solution-label {
  font-size: 11px;
  font-weight: bold;
  color: var(--primary-color);
  background-color: #f1f3f9;
  border: 1px solid #d0d6e1;
  padding: 2px 6px;
  border-radius: 4px;
}

.solution-card h4 {
  font-weight: bold;
  margin: 0;
}

.solution-card .info {
  font-size: 12px;
  color: #666;
  line-height: 1.5;
  flex-grow: 1;
}

.solution-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 14px 14px;
}

.solution-footer a {
  font-size: 13px;
  color: var(--link-color);
  font-weight: bold;
}

#featuredsolutions {
  padding-top: 50px;
}

.featured-solutions-list {
  display: flex;
  gap: 20px;
}

.featured-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: auto;
  position: relative;
}

.featured-card.wide {
  flex: 6.5;
  padding: 0px;
}

.featured-card.small {
  flex: 3.5;
  padding: 0px;
}

.featured-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.featured-content.reverse {
  flex-direction: row-reverse;
}

.featured-text-smaller{
  margin: 0 auto;
  padding-bottom: 40px;
}

.featured-text-smaller h3
{
  padding-bottom: 10px;
}

.featured-content img {
  width: 190px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}



.info {
  font-size: 13px;
  color: #666;
  width: 85%;
  height: 20px;
  
}

.desc {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  width: 85%;
  height:30px
  padding-bottom: 5px;
}



.featured-content.reverse img {
  width: 130px;
}

.tags {
  display: flex;
  gap: 6px;
  list-style: none;
  border-radius: 50%;
}

.tags li {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
  color: gray;
  border-radius: 20px;
  border: 1px solid var(--light-gray);
}

.featured-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.featured-header {
  display: flex;
  align-items: center;
  gap: 8px;
}



.label-icon {
  font-size: 11px;
  font-weight: bold;
  color: var(--primary-color);
  background-color: #f1f3f9;
  border: 1px solid #d0d6e1;
  padding: 2px 6px;
  border-radius: 4px;
}

.tag {
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color: #2b8eb5;
  padding: 2px 6px;
  border-radius: 5px;
}

.featured-footer {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.featured-text-smaller
{
  margin: 0 auto;
  padding-top: -10px;
}

#eventsandpodcasts {
  display: flex;
  padding-top: 40px;
  gap: 30px;
}

#events, #podcasts {
  flex: 1;
}

.eventandpodcaststitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.eventandpodcaststitle h3 {
  font-size: 20px;
  font-weight: bold;
}

.eventandpodcaststitle a {
  font-size: 13px;
  font-weight: bold;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 5px;
  padding: 6px 12px;
}

.events-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.event-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  flex: 1 1 0;
  display: flex;
  width: 40%;
  flex-direction: column;
  overflow: hidden;
}

.event-item img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.event-content-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-item h3 {
  font-size: 16px;
  font-weight: bold;
  
}

.event-item p {
  font-size: 13px;
  color: #666;  
  
}


.podcasts-list
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 38px;
  flex-wrap: wrap;
}
 
.podcast-item {
  background: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex: 1 1 
}

.podcastcontent {
  display: flex;
  gap: 15px;
  padding: 10px;
  letter-spacing: 1px;
  
}

.podcastcontent img {
  width: 80px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.content-wrapper,
.content-wrapper-without-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.podcastcontent h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.podcastcontent p {
  font-size: 13px;
  color: #666;
  margin-bottom: 3px;
}




.podcast-item a {
  align-self: flex-end;
  padding: 20px;
  font-size: 13px;
  font-weight: bold;
  color: var(--link-color);
}

#news {
  padding-top: 40px;
  padding-bottom: 60px;
}

.news-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.news-title h2 {
  font-size: 20px;
  font-weight: bold;
}

.news-title a {
  font-size: 13px;
  font-weight: bold;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  border-radius: 5px;
  padding: 6px 12px;
}

.news-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 2.5%;
}

.news-item {
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--shadow);
  width: 22.5%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.news-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-item p:first-of-type {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #555;
  padding: 15px 15px 0px;
}

.news-item h3 {
  font-size: 15px;
  font-weight: bold;
  padding: 0 15px;
  margin-bottom: 10px;
  width: 85%;
}

.news-item p {
  font-size: 12px;
  color: #333;
  padding: 0 15px;
  margin-bottom: 10px;
  width: 85%;
}

.news-item a {
  align-self: flex-end;
  font-size: 13px;
  font-weight: bold;
  color: var(--link-color);
  padding: 0 15px 15px;
}


.line-break {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.date{
  letter-spacing: normal;
  font-size: 13px;
  color: black;
  margin-bottom: 10px;
}

#news .date{
  padding: 0px 20px;
}

.event-item a, .podcast-item a{
  align-self: flex-end;
  font-size: 13px;
  font-weight: bold;
  color: var(--link-color);
  padding: 20px;
}

.podcast-item a
{
  padding: 15px;
}

@media (max-width: 1380px) {
  body {
    margin: 0px 0px;
  }

  .solutions-grid,
  .featured-solutions-list,
  .events-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .featured-solutions-list,
  #eventsandpodcasts

  {
    flex-direction: column;
  }

  .solution-card,
  .event-item,
  .news-item {
    width: 45%;
    margin-bottom: 20px;
  }

  .news-list {
    justify-content: center;
  }


}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    top:30px;
    padding-top: 0px;
    border-bottom: 1px solid #e0e0e0;
    justify-content: center;
  }
  
#featuredsolutions{
  margin: 0 auto;
}

  .top-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    
  }

  .info{
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
  }


  #hero {
    padding: 20px;
    height: 200px;
    justify-content: center;
    
  }

  #hero p {
    max-width: 100%;
    font-size: 13px;
  }

  .solution-card {
    width: 100%;
    height: auto;
  }

  .featured-content,
  .featured-content.reverse {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .featured-content img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .featured-card.wide,
  .featured-card.small {
    flex: 1;
    padding: 20px;
  }

  .news-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  main
  {
    padding: 10px;
  }
  
  .right-section {
    flex-direction: row;
    gap: 10px;
  }

  .top-nav {
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  

  main > #hero
  {
    margin-left: -10px;
    margin-right: -40px;
    margin-top: -10px;
  }

  .sidebar{
    top:70px;
  }

  .location-selector {
    flex-direction: row;
    align-items: flex-start;
  }

  .event-item,
  .podcast-item {
    width: 100%;
  }


  .solution-card {
    width: 100%;
  }

  .solution-content
  {
    gap: 12px;
  }
   
   .featured-solutions-list{
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
   }

   .featured-text{
    gap: 6px;
   }

   .desc{
    padding: 10px;
    padding-left: 0px;
   }

   .info{
    padding-bottom: 10px;
   }

   .tags{
    padding-top: 16px;
   }



  .featured-content img,.featured-content.reverse img {
    width:200px;
    height: 100px;
  }

  .featured-header{
    justify-content: center;
  }

  .featured-text,.featured-text-smaller{
    justify-content: center;
  }

  .top-nav {
    flex-direction: column;
    height: auto;
  }
}




